
@import "bootstrap";

body {
  background: image_url('leather_1.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('mosaic.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  border-raidus: 0;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}